<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>Nombre: {{ product.title }}</mat-card-title>
    <mat-card-subtitle>Precio: {{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" alt="">
  </div>
  <mat-card-content>
    <p>{{ product.description }}</p>
  </mat-card-content>
  <!-- <button (click)="createProduct()">crear</button>
  <button (click)="updateProduct()">update</button>
  <button (click)="deleteProduct()">delete</button> -->
  <mat-card-actions>
    <a mat-raised-button [routerLink]="['/products']">Seguir comprando</a>
    <button (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
  </mat-card-actions>
</mat-card>

